@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  
html, body {
    background-color: lightgrey;
}

#starwars{
    background-color:black;
    color: whitesmoke;
    width: 100%; 
    height: max-content;
    position: relative;;
    top: 5px;
    left: 5px;
    font-size: 50px;
}
h1{
    color: rgb(41, 12, 107);
    background-color: rgb(162, 88, 80);
    width: max-content; 
    height: max-content;
    position: relative;;
    top: 5px;
    left: 200px;
    font-size: 50px;

}
h2{
    color: rgb(28, 9, 206);
    background-color: rgb(218, 80, 61);
    width: max-content; 
    height: max-content;
    position: relative;;
    top: 5px;
    left: 100px;
    font-size: 50px;
}
movieList{
    border: solid black;
    background-color: floralwhite;
    color: blue;
    width: max-content; 
    height: max-content;
}